
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="header">
    Сайты
</section>

<section layout:fragment="content">
<table class="table table-striped mt-5">
    <thead>
    <tr>
        <th class="col-1">ID</th>
        <th class="col-2">URL</th>

        <th class="col-3">Последняя проверка</th>
        <th class="col-4">Код ответа</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="urls : ${urls}" th:object="${urls}">
        <td th:text="*{getId()}"></td>
        <td>
            <a th:href="@{/urls/{id}(id=*{getId()})}" th:text="${#strings.abbreviate(urls.getName(), 30)}"></a>
        </td>

        <td>
            <span th:if="${not #lists.isEmpty(urls.checks)}" th:text="${#temporals.format(urls.checks[0].createdAt, 'dd/MM/yyyy HH:mm')}"></span>
            <span th:if="${#lists.isEmpty(urls.checks)}">Нет проверок</span>
        </td>

        <td>
            <span th:if="${#lists.size(urls.checks) > 0}" th:text="${urls.checks[0].statusCode}"></span>
            <span th:if="${#lists.size(urls.checks) == 0}">Нет проверок</span>
        </td>

    </tr>
    </tbody>
</table>

<nav aria-label="Page navigation" th:if="${#lists.size(pages)}">
    <ul class="pagination justify-content-center mt-5">
        <li th:class="'page-item' + ${currentPage <= 1 ? ' disabled' : ''}">
            <a class="page-link" th:href="@{/urls(page=${currentPage - 1},term=${term})}">Предыдущая</a>
        </li>
        <li th:each="page : ${pages}" th:class="'page-item' + ${currentPage == page ? ' active' : ''}">
            <a class="page-link" th:href="@{/urls(page=${page},term=${term})}" th:text="${page}"></a>
        </li>
        <li th:class="'page-item' + ${currentPage >= #lists.size(pages) ? ' disabled' : ''}">
            <a class="page-link" th:href="@{/urls(page=${currentPage + 1},)}">Следующая</a>
        </li>
    </ul>
</nav>
</section>