<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="content">
    <h1 class="display-3">Анализатор страниц</h1>

    <form action="/urls" method="post">
        <div class="mb-3">
            <label for="url" class="form-label">Анализатор страниц</label>
            <p class="lead">
                Бесплатно проверьте свои сайты на SEO пригодность
            </p>
            <input type="text" class="form-control" id="url" name="url">
        </div>

        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</section>

</html>
